@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #f5f8ff;
}

:root {
  --para-color: #8987a1;
  --btn-color: #e95a08;
}

/* Shared Styles */

.container {
  width: 88%;
  margin: 0 auto;
}

.colored {
  color: var(--btn-color);
  font-family: "Noto Serif", sans-serif;
}

.para {
  color: var(--para-color);
  font-size: 1.3rem;
}

.section-title {
  font-family: "Noto Serif", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1.25rem;
}

.btn {
  border: none;
  background-color: var(--btn-color);
  color: white;
  padding: 0.65rem 2rem;
  width: 100%;
}

/* Header */

header {
  margin-top: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.links a {
  text-decoration: none;
  margin-top: 0;
}

.links a:nth-child(1) {
  font-weight: bold;
  color: black;
}

.links a:nth-child(2),
.links a:nth-child(3) {
  color: var(--para-color);
}

#cart {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-icon {
  width: 2rem;
}

/* Small Screen */

@media screen and (max-width: 576px) {
  #logo img {
    width: 50%;
  }

  .links {
    display: none;
  }
}

/* Hero Section */

.hero {
  margin: 10rem auto 0;
  display: flex;
  align-items: flex-end;
  gap: 2.5rem;
  width: 88%;
}

.hero div {
  width: 50%;
}

.hero-left h1 {
  font-size: 4rem;
  font-family: "Noto Serif";
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
/* Small Screen */

@media screen and (max-width: 576px) {
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
  }

  .hero div {
    width: 100%;
  }

  .hero-left h1 {
    width: 60%;
    margin-left: 1.5rem;
    font-size: 1.5rem;
  }

  .hero-left p {
    font-size: 0.875rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .hero-right {
    width: 100%;
  }

  .hero-right img {
    width: 100%;
  }
}

/* Flower Section */

.our-flowers {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 10rem;
}

.our-flowers p {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}

.flower-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
}

#second {
  margin-top: 2rem;
}

.flower {
  width: 95%;
  text-align: center;
}

.flower img {
  width: 100%;
}

.flower p {
  margin-top: 1rem;
  color: #111111;
  font-weight: 600;
  font-size: 1.1rem;
}

.flower h4 {
  margin-top: -3rem;
  margin-bottom: 0.75rem;
  color: #111111;
  font-weight: 700;
  font-size: 1.1rem;
}

/* Small Screen */

@media screen and (max-width: 576px) {
  .our-flowers {
    margin-top: 5rem;
  }

  .our-flowers p {
    width: 92%;
    font-size: 0.875rem;
  }

  .our-flowers h1 {
    font-size: 1.45rem;
  }

  .flower-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    width: 100%;
  }

  .flower {
    width: 100%;
  }

  .btn {
    width: 100%;
    padding: 0.75rem 2rem;
  }

  .flower p {
    font-size: 1rem;
  }

  .flower h4 {
    margin-top: -3.5rem;
    font-size: 1rem;
    margin-bottom: 1.75rem;
  }
}

/* Plant Lover Section */

.lover {
  display: flex;
  align-items: center;
  gap: 5rem;
  position: relative;
}

.lover-right {
  width: 40%;
}

.lover-right ul {
  margin-left: 2.25rem;
}

.lover-right ul li {
  margin-bottom: 1.5rem;
}

#badge {
  position: absolute;
  width: 15%;
  top: -4rem;
  left: 27rem;
  background: transparent;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Small Screen */

@media screen and (max-width: 576px) {
  .lover {
    flex-direction: column;
    margin-top: -7rem;
    gap: 2rem;
  }

  .lover-left {
    width: 100%;
  }

  .lover-left img {
    width: 100%;
  }

  .lover-right {
    width: 100%;
  }

  .lover-right ul {
    margin-left: 1.5rem;
  }

  .lover-right h2 {
    font-size: 1.5rem;
  }

  .lover-right .para {
    font-size: 0.875rem;
  }

  #badge {
    display: none;
  }
}

/* Latest Deals Section */

.deals {
  margin-top: 8rem;
  text-align: center;
}

.deals p {
  width: 70%;
  margin: 0 auto 8rem;
}

.deal-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deal-left {
  width: 30%;
  display: grid;
  gap: 2rem;
}

#bloom {
  background: rgba(0, 0, 0, 0.38) url("../assets/deal-bloom.png");
  background-blend-mode: darken;
  height: 12rem;
  border-radius: 14px;
}

#ana {
  background: rgba(0, 0, 0, 0.38) url("../assets/deal-ana.png");
  background-blend-mode: darken;
  height: 12rem;
  border-radius: 14px;
}

.deal-left h5 {
  font-family: "Noto Serif", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
  margin-top: 15%;
  background: transparent;
  color: white;
}

.deal-left a {
  font-weight: 600;
  margin-top: 15%;
  background: transparent;
  color: white;
}

.deal-right {
  background: rgba(0, 0, 0, 0.38) url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  height: 26rem;
  border-radius: 22px;
  width: 67%;
}

.deal-right h1,
a {
  margin-top: 20%;
  background: transparent;
  color: white;
}

.deal-right h1 {
  font-family: "Noto Serif", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.deal-right a {
  font-size: 1.75rem;
  font-weight: 600;
}

/* Small Screen */

@media screen and (max-width: 576px) {
  .latest {
    font-size: 1.5rem;
  }

  .deals p {
    font-size: 0.875rem;
    width: 100%;
    margin: 0 auto 3.5rem;
  }

  .deal-img-container {
    flex-direction: column;
    gap: 1rem;
  }

  .deal-left {
    width: 100%;
    gap: 1rem;
  }

  #bloom,
  #ana,
  .deal-right {
    height: 10rem;
  }

  #bloom {
    background: rgba(0, 0, 0, 0.65) url("../assets/deal-bloom.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #ana {
    background: rgba(0, 0, 0, 0.65) url("../assets/deal-ana.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .deal-right {
    background: rgba(0, 0, 0, 0.65) url("../assets/deal-zabo.png");
    width: 100%;
    border-radius: 14px;
  }

  .deal-right h1 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 600;
    margin-top: 14%;
  }

  .deal-right a {
    font-weight: 600;
    font-size: 1rem;
    font-weight: 600;
  }
}

/* Join Section */

.join {
  margin-top: 8rem;
  height: 70vh;
  background: url("../assets/news-letter-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.join-text {
  padding-top: 13%;
  background: transparent;
  text-align: center;
  position: relative;
}

.join-text h1 {
  background: transparent;
  color: white;
  font-family: "Noto Serif", sans-serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.join-text input {
  border: none;
  padding: 1rem 1.5rem;
  width: 56%;
}

.subscribe {
  position: absolute;
  border: none;
  background-color: var(--btn-color);
  color: white;
  padding: 1rem 2rem;
  font-weight: 500;
  width: 12%;
  right: 22%;
}

/* Small Screen */

@media screen and (max-width: 576px) {
  .join {
    height: 31vh;
    margin-top: 3rem;
  }

  .join-text {
    padding-top: 25%;
  }

  .join-text h1 {
    font-size: 1.25rem;
  }

  .join-text input {
    border: none;
    padding: 1.25rem 1.5rem;
    width: 80%;
  }

  .join-text input::placeholder {
    font-size: 1.15rem;
    color: rgba(0, 0, 0, 0.4);
  }

  .subscribe {
    width: 25%;
    right: 10%;
    padding: 1.13rem 1rem;
    font-size: 1rem;
  }
}

/* Footer */

footer {
  display: grid;
  grid-template-columns: 1.5fr 0.75fr 0.75fr 1.25fr;
  gap: 5rem;
  padding: 4rem 0 1.5rem;
}

.footer-1 img {
  margin-bottom: 1rem;
}

.footer-2 {
  display: flex;
  flex-direction: column;
}

.footer-2 a {
  color: var(--para-color);
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.footer-4 {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.footer-4 a {
  margin-top: 0;
}

.footer-4 a:nth-child(2) {
  margin-top: 0.7rem;
}

/* Small Screen */

@media screen and (max-width: 576px) {
  footer {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .footer-1 p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}
